body {
    background: #FBFBFB;
}

.main span {
    display: flex;
    flex-direction: row;
    padding-right: .4em;
    margin-bottom: .2em;
    cursor: pointer;
}

.main div {
    hyphens: auto;
    font-size: 0.12px;
    min-width: 1240px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: baseline;
    align-items: baseline;
    align-content: space-around;
    -webkit-align-content: space-around;
}

.activeSmall {
    cursor: pointer;
}

.activeLink {
    cursor: pointer;
    text-decoration: underline;
}

.main {
    text-rendering: optimizeLegibility;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding: 30px;
    position: relative;
}

.line {
    border-top: 1px solid #6A6A6A;
    width: 1000px;
    margin: 20px auto;
}

.d3-tip {
    padding: 5px 10px 5px 10px;
    background-color: #DADADA;
    pointer-events: none;
    text-align: center;
}

.d3-tip h3 {
    font-style: italic;
    line-height: 1.2rem;
    font-size: 1rem;
    color: #000;
    margin: 0;
    padding: 2px 0 2px 0;
}

.d3-tip p {
    color: #C94A18;
    font-weight: 400;
    font-style: normal;
    font-size: 0.625rem;
    line-height: 0.75rem;
    padding: 2px 0 2px 0;
    margin: 0;
}

/* Creates a small triangle extender for the tooltip */

.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 5px;
    width: 100%;
    line-height: 1;
    color: #3A3A3A;
    position: absolute;
    pointer-events: none;
}

/* Northward tooltips */

.d3-tip.n:after {
    content: "\25BC";
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
    text-align: center;
}

/* Eastward tooltips */

.d3-tip.e:after {
    content: "\25C0";
    margin: -4px 0 0 0;
    top: 50%;
    left: -8px;
}

/* Southward tooltips */

.d3-tip.s:after {
    content: "\25B2";
    margin: 0 0 1px 0;
    top: -8px;
    left: 0;
    text-align: center;
}

/* Westward tooltips */

.d3-tip.w:after {
    content: "\25B6";
    margin: -4px 0 0 -1px;
    top: 50%;
    left: 100%;
}

.help {
    float: right;
    cursor: pointer;
}

.help img {
    width: 20px;
    height: 20px;
    opacity: .5;
}

.help .active,
.help img:hover {
    opacity: 1;
}

#overlay {
    display: block;
    margin: 0 auto;
    width: 1200px;
    position: relative;
    z-index: 50;
}

#overlay svg {
    display: none;
    position: absolute;
    margin: 0 auto;
    height: 900px;
    width: 1200px;
    background: rgba(251, 251, 251, 0);
    z-index: 100;
    left: 0;
}

#overlay text {
    fill: #FBFBFB;
    font-size: 16px;
}

#overlay circle {
    fill: #3A3A3A;
    opacity: 0.22;
}

#overlay line {
    stroke: #3A3A3A;
    opacity: 0.9;
}

#overlay rect {
    fill: #3A3A3A;
    opacity: 0.9;
}
