.subheader h1 {
    font-weight: normal;
    font-size: 17px;
}

.main {
    margin-top: 20px;
}

.background {
    background: #DADADA;
    margin: 0;
    padding: 30px 0;
    width: 100%;
    clear: both;
    height: 320px;
}

.background h2 {
    width: 590px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.background h2.faq {
    float: right;
    margin-top: -27px;
}

.background p {
    width: 550px;
    padding-top: 5px;
    padding-right: 60px;
    float: left;
    color: #3A3A3A;
    line-height: 1.5em;
    font-size: 18px;
}

.background p a:hover {
    text-decoration: underline;
}

.background p.faq {
    padding-right: 0;
    padding-left: 0;
    font-size: 14px;
}

.footer {
    color: #6A6A6A;
    bottom: 0;
    width: 100%;
    text-align: center;
    line-height: 1.3em;
}

.footer .container {
    padding: 20px 0 40px;
}

.footer a {
    color: #C94A18;
}

.footer a:hover {
    text-decoration: underline;
}

.footer a:first-child img {
    opacity: 0.8;
}

.footer a:first-child:hover img {
    opacity: 1;
}

.footer img {
    margin: 20px;
    margin-left: 0px;
    border: 0;
    opacity: 0.85;
}

.footer img:hover {
    opacity: 1;
}

.subheader h1 {
    font-size: 27px;
    line-height: 1.5em;
    margin-bottom: 40px;
    font-weight: normal;
}

.subheader p {
    font-size: 18px;
    line-height: 1.5em;
    font-weight: normal;
    color: #3A3A3A;
}

.subheader a {
    color: #C94A18;
}

.subheader a:hover {
    text-decoration: underline;
}

.main {
    background: #BABABA;
    padding: 50px 0 25px;
    margin: 0;
    margin-left: -20px;
}

.project {
    float: left;
    padding: 10px;
    width: calc(33.3333% - 40px);
    margin-right: 20px;
    line-height: 1.35em;
    margin-top: -5px;
}

.main .container div:nth-child(4) {
    margin-right: 0px;
}

.project:hover {
    background: #DADADA;
}

.subheader {
    padding: 50px 0;
    height: 350px;
    min-width: 1240px;
    background: #DADADA;
    /*background: #DADADA url('../index/icons.png') center no-repeat;*/
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
    .subheader {
        background-image: url('index/icons@2x.png');
        background-size: 1200px 400px;
    }
}

.subheader .container {
    width: 520px;
    padding-left: 560px;
}